@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;900&family=Playfair+Display:wght@400;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Playfair Display", serif;
  color: rgb(14, 14, 14);
}

/* MOBILE VERSION ================================================== */
/* NAVBAR */

/* Animations */

// Animation for fadeIn
@keyframes opacity-reverse {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@media (max-width: 768px) {
  .hide-for-mobile {
    img {
      display: none;
    }
  }
  navbar {
    padding: 1vw 0 0 !important;
    background-color: #fff;
    .navbar-links {
      display: none;
    }
    // modal background for mobile
    .modal {
      width: 100vw;
      height: 100vh;
      display: none;
      z-index: 1;
      background-color: rgba(199, 163, 164, 0.99);
      animation: opacity-reverse 0.2s ease-in-out;
    }
    // links displayed in the centre of the modal
    .mobile-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2vw;
      position: fixed;
      z-index: 1;
      text-align: center;
      height: 80vh;
      a {
        font-size: 8vw;
        text-decoration: none;
        color: #000;
        animation: opacity-reverse 0.3s ease-in-out;
      }
    }
    // Hamburger menu for mobile
    .mobile-nav {
      #btnHamburger {
        width: 8vw;
        height: 10vw;
        display: flex;
        flex-direction: column;
        gap: 2.5vw;
        position: absolute;
        right: 3vw;
        top: 5vw;
        z-index: 100;
        span {
          background-color: black;
          width: 100%;
          height: 0.5vw;
          transition: all 0.3s ease-in-out;
        }
      }
    }
    // Navbar logo
    .navigation {
      position: relative;
      .navbar-logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2vw;
      }
      /* .navbar-img {
        position: absolute;
        top: 0;
        left: 2vw;
        width: 20vw;
        img {
          width: 20vw;
        }
      } */
      .navbar-header {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 50vw;
        }
      }
    }
  }
  // Mobile Hamburger change on click
  .active-mob {
    #btnHamburger {
      width: 10vw;
      height: 10vw;
      display: flex;
      flex-direction: column;
      gap: 1.5vw;
      position: fixed;
      top: 5vw;
      z-index: 100;
      span {
        transition: all 0.3s ease-in-out;
      }
      span:first-child {
        transform: rotate(-45deg) translateY(4vw);
      }
      span:last-child {
        transform: rotate(45deg) translateY(-4vw);
      }
      span:nth-child(2) {
        opacity: 0;
      }
    }
  }

  /* HERO SECTION */

  .hero {
    background: url("/files/gallery/main-page/main21.jpeg") no-repeat center
      center;
    background-size: cover;
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    p {
      position: absolute;
      top: 50%;
      width: 85%;
      color: rgb(20, 20, 20);
      text-align: center;
      padding: 2vw 3vw;
      font-size: 3.2vw;
      margin: 0;
      font-weight: 600;
      background: rgba(255, 255, 255, 0.952);
      border-radius: 20px;
      /* img {
        padding: 4vw;
        width: 30vw;
      } */
      span {
        font-size: 5vw;
        font-weight: 900;
      }
    }
  }
  .hero-buttons {
    position: absolute;
    top: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding: 0 15vw;

    .btn:first-child {
      background: #000;
      border-color: #fff;
      font-weight: 900;
      font-size: 4vw;
      color: #fff;
      border-radius: 15px;
    }

    .btn:nth-last-child(1) {
      background: #dadada;
      border: 2px solid rgb(34, 27, 27);
      font-size: 4vw;
      font-weight: 900;
      color: rgb(34, 27, 27);
      border-radius: 15px;
    }
  }

  /* NEWS  */
  .news {
    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        width: 30vw;
        padding: 10vw 0;
      }
    }
    h1 {
      text-align: center;

      font-size: 13vw;
      font-weight: 900;
      font-family: "Lobster", sans-serif;
    }
    .news-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-img {
        img {
          transform: scale(0.8);
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
      }
      &-text {
        padding: 0 5vw 2vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .btn {
          width: 50%;
          background: #dadada;
          border: 2px solid rgb(34, 27, 27);
          font-size: 4vw;
          font-weight: 900;
          color: rgb(34, 27, 27);
          border-radius: 15px;
        }
      }
    }
  }

  /* FRONT PAGE GALLERY */

  .gallery-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10vw;
    padding: 10vw 5vw;
    a {
      cursor: pointer;
    }
  }

  #footer {
    background: #fff;
    padding: 5vw;
    .footer-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 30vw;
        height: auto;
      }
    }
    .footer-info {
      text-align: center;
      h5,
      h6 {
        font-size: 7vw;
        font-weight: 900;
      }
      address {
        font-size: 5vw;
      }
    }
  }

  /* STOWARZYSZENIE PAGE */
  .sto-container {
    padding: 5vw 10vw;
    text-align: justify;
    img {
      padding: 5vw;
    }
  }

  /* AKTUALNOSCI PAGE */

  .akt-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vw;
  }
  .akt-container {
    position: relative;
    p {
      text-align: justify;
    }
    date {
      position: absolute;
      color: #000;
      top: 0;
      left: 0;
      font-weight: 900;
      font-size: 8vw;
      background-color: rgba(255, 255, 255, 0.8);
      width: auto;
      padding: 2vw;
    }
  }
}
/* GALLERY PAGE */
.gallery {
  padding: 10vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  grid-template-rows: auto;
  gap: 3vw;
  h1 {
    border: 1px solid #000;
  }
}
.galleryBkg {
  display: none;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.884);
  position: fixed;
  top: 0;
  left: 0;
}
.toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  span {
    position: fixed;
    z-index: 9;
    top: 15vw;
    right: 4vw;
    height: 10vw;
    width: 6vw;
    color: #fff;
  }
}
.active {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: contain;
  z-index: 9999;
}
/* FESTIVALS  */
.festival-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.festival-year {
  display: flex;
  gap: 1vw;
  a {
    margin: 0;
    background: rgb(247, 232, 232);
    text-decoration: none;
    color: #000;
  }
}
.festival-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    font-size: 10vw;
    font-weight: 900;
  }
}

.festival {
  padding: 5vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));

  gap: 3vw;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 5vw;
  right: 5vw;
  width: 15vw;
  border: 1px solid #000;
  border-radius: 20px;
  a {
    text-decoration: none;
    color: #000;
  }
}





/* DESKTOP VERSION ================================================= */





@media (min-width: 768px) {
  .hide-for-desktop {
    display: none;
  }

  /* MAIN PAGE */

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    .navigation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .navbar-logo {
        .navbar-header {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-bottom: 1vw;
          img {
            width: 20vw;
            height: auto;
          }
        }
      }
      .navbar-links {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50%;
        a {
          color: #000;
          font-size: 1.3vw;
          text-decoration: none;
        }
      }
    }
    .navbar-image {
      display: none;
    }
  }
  .hero {
    position: relative;

    .hide-for-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      img {
        width: 80vw;
        height: auto;
      }
    }

    .hero-text {
      position: absolute;
      top: 20vw;
      background: rgba(255, 255, 255, 0.774);
      width: 70vw;
      padding: 2vw;
      span {
        font-size: 3vw;
        font-weight: 900;
      }
    }
    .hero-buttons {
      display: none;
      /* display: flex;
      justify-content: center;
      align-items: center;
      gap: 6vw;
      position: absolute;
      width: 30vw;
      top: 35vw;
      left: 20vw;
      a {
        text-decoration: none;
        color: #000;
        font-size: 1.5vw;
        font-weight: 600;
        background-color: #fff;
        border: none;
      } */
    }
  }
  .news {
    padding: 2vw 10vw;
    &-img {
      padding: 2vw;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        width: 20vw;
      }
    }
  }
  h1 {
    font-size: 5vw;
    font-weight: 900;
  }
  .news-section {
    padding: 2vw 2vw 2vw 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    &-img {
      img {
        max-width: 30vw;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      }
    }
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        font-size: 1.5vw;
        font-weight: 200;
      }
    }
    .btn {
      width: 10vw;
      text-decoration: none;
      color: #000;
      font-size: 1.5vw;
      font-weight: 600;
      background-color: #fff;
      border: 1px solid #000;
    }
  }
  .gallery-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vw;
    gap: 8vw;
    text-align: center;
    transition: all 1s ease-in-out;
    img:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
  }
  #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5vw 10vw;
    .footer-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 10vw;
      }
    }
    .footer-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      h5,
      h6 {
        font-size: 2vw;
        font-weight: 900;
      }
    }
  }
  /* STOWARZYSZENIE PAGE */
  .sto-container,
  .inf-container {
    padding: 2vw 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(238, 238, 238);

    p {
      font-size: 1.1vw;
      font-weight: 200;
    }
    img {
      width: 25vw;
      height: auto;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
  }
  /* INFO PAGE */
  .inf-container {
    flex-direction: column;
    img {
      width: 40vw;
      margin: 2vw 5vw;
    }
    p {
      font-size: 1.3vw;
      font-weight: 400;
    }
  }
  /* NEWS PAGE */
  .akt-wrapper {
    padding: 2vw 10vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    background: rgb(238, 238, 238);

    .akt-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        flex-grow: 2;
        text-align: justify;
        font-size: 1.3vw;
      }
      img {
        width: 30vw;
        flex: 1;
        padding: 2vw;
      }
    }
    date {
      position: absolute;
      color: rgb(0, 0, 0);
      top: 0;
      left: 0;
      font-weight: 900;
      font-size: 1.5vw;
      background-color: rgba(255, 255, 255, 0.8);
      width: auto;
      padding: 0.5vw;
    }
  }
  .gallery {
    padding: 2vw 10vw;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    gap: 2vw;
    background: rgb(238, 238, 238);

    position: relative;
    img {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
    img:hover {
      cursor: pointer;
    }
  }

  .toggle {
    span {
      position: fixed;
      font-size: 3rem;
      top: 2vw;
      right: 1vw;
      &:hover {
        cursor: pointer;
      }
    }
  }
  /* FESTIVAL PAGE */
  .festival-label {
    padding: 2vw 10vw;
  }
  .festival-wrapper {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
      h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5vw;
        font-weight: 900;
        background: rgb(247, 232, 232);
        border: 2px solid #000;
      }
    }
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    width: 10vw;
    border: 1px solid #000;
    border-radius: 20px;
    z-index: 10;
    a {
      text-decoration: none;
      color: #000;
      font-size: 2vw;
    }
  }
}
