@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;900&family=Playfair+Display:wght@400;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Lobster", serif;
  color: #0e0e0e;
}

/* MOBILE VERSION ================================================== */
/* NAVBAR */
/* Animations */
@-webkit-keyframes opacity-reverse {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes opacity-reverse {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@media (max-width: 768px) {
  .link-icon {
    width: 10vw;
  }
  .full-img {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .full-img.open {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
  .hide-for-mobile img {
    display: none;
  }
  navbar {
    padding: 1vw 0 0 !important;
    background-color: #fff;
  }
  navbar .navbar-links {
    display: none;
  }
  navbar .modal {
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1;
    background-color: #ffc02cf8;
    -webkit-animation: opacity-reverse 0.2s ease-in-out;
            animation: opacity-reverse 0.2s ease-in-out;
  }
  navbar .mobile-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2vw;
    position: fixed;
    z-index: 1;
    text-align: center;
    height: 80vh;
  }
  navbar .mobile-links a {
    font-size: 8vw;
    text-decoration: none;
    color: #000;
    -webkit-animation: opacity-reverse 0.3s ease-in-out;
            animation: opacity-reverse 0.3s ease-in-out;
  }
  navbar .mobile-nav #btnHamburger {
    width: 8vw;
    height: 10vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.5vw;
    position: absolute;
    right: 3vw;
    top: 5vw;
    z-index: 100;
  }
  navbar .mobile-nav #btnHamburger span {
    background-color: black;
    width: 100%;
    height: 0.5vw;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  navbar .navigation {
    position: relative;
  }
  navbar .navigation .navbar-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2vw;
  }
  navbar .navigation .nav-img {
    position: absolute;
    top: 0;
    left: 2vw;
    width: 20vw;
  }
  navbar .navigation .nav-img img {
    width: 18vw;
  }
  navbar .navigation .navbar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  navbar .navigation .navbar-header img {
    width: 50vw;
  }
  .active-mob #btnHamburger {
    width: 10vw;
    height: 10vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5vw;
    position: fixed;
    top: 5vw;
    z-index: 100;
  }
  .active-mob #btnHamburger span {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .active-mob #btnHamburger span:first-child {
    -webkit-transform: rotate(-45deg) translateY(4vw);
            transform: rotate(-45deg) translateY(4vw);
  }
  .active-mob #btnHamburger span:last-child {
    -webkit-transform: rotate(45deg) translateY(-4vw);
            transform: rotate(45deg) translateY(-4vw);
  }
  .active-mob #btnHamburger span:nth-child(2) {
    opacity: 0;
  }
  /* HERO SECTION */
  .hero {
    background: url("/files/gallery/compressed/hor/1 (14).jpeg") no-repeat center center;
    background-size: cover;
    height: 85vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5vw;
  }
  .hero p {
    position: absolute;
    top: 60%;
    width: 85%;
    color: #141414;
    text-align: center;
    padding: 2vw 3vw;
    font-size: 3.5vw;
    margin: 0;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.952);
    border-radius: 20px;
    /* img {
        padding: 4vw;
        width: 30vw;
      } */
  }
  .hero p span {
    font-size: 5vw;
    font-weight: 900;
  }
  .hero-buttons {
    position: absolute;
    top: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5vw;
    padding: 0 15vw;
  }
  .hero-buttons .btn:first-child {
    background: #cfb14b;
    border-color: #000;
    font-weight: 900;
    font-size: 4vw;
    color: #000;
    border-radius: 15px;
  }
  .hero-buttons .btn:nth-last-child(1) {
    background: #ffcd27;
    border: 2px solid #221b1b;
    font-size: 4vw;
    font-weight: 900;
    color: #221b1b;
    border-radius: 15px;
  }
  /* NEWS  */
  .news {
    padding: 2vw 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10vw;
  }
  .news h1 {
    padding: 20vw 0 10vw;
    text-align: center;
    font-size: 13vw;
    font-weight: 900;
  }
  .news .news-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10vw;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 5vw;
    border-radius: 10px;
  }
  .news .news-section-img img {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .news .news-section-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: justify;
  }
  .news .news-section-text .btn {
    width: 50%;
    background: #ffcd27;
    border: 2px solid #221b1b;
    font-size: 4vw;
    font-weight: 900;
    color: #221b1b;
    border-radius: 15px;
  }
  /* FRONT PAGE GALLERY */
  .gallery-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 10vw;
    padding: 10vw 5vw;
  }
  .gallery-section a {
    cursor: pointer;
  }
  #footer {
    background: #fff;
    padding: 5vw;
  }
  #footer .footer-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .footer-logo img {
    width: 30vw;
    height: auto;
  }
  #footer .footer-info {
    text-align: center;
  }
  #footer .footer-info h5,
  #footer .footer-info h6 {
    font-size: 7vw;
    font-weight: 900;
  }
  #footer .footer-info address {
    font-size: 5vw;
  }
  /* STOWARZYSZENIE PAGE */
  .sto-container {
    padding: 5vw 10vw;
    text-align: justify;
  }
  .sto-container p:first-child {
    background-color: #faffd0;
    padding: 1vw;
  }
  .sto-container img {
    padding: 5vw;
  }
  /* INFO PAGE */
  .inf-container {
    padding: 5vw 10vw;
    text-align: justify;
  }
  .inf-container img {
    padding: 5vw;
  }
  /* AKTUALNOSCI PAGE */
  .akt-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10vw;
  }
  .akt-container {
    position: relative;
  }
  .akt-container table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .akt-container table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2vw;
  }
  .akt-container p {
    text-align: justify;
  }
  .akt-container date {
    position: absolute;
    color: #000;
    top: 0;
    left: 0;
    font-weight: 900;
    font-size: 8vw;
    background-color: rgba(255, 255, 255, 0.8);
    width: auto;
    padding: 2vw;
  }
}

/* GALLERY PAGE */
.gallery {
  padding: 10vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30vw, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 3vw;
}

.gallery h1 {
  border: 1px solid #000;
}

.galleryBkg {
  display: none;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.884);
  position: fixed;
  top: 0;
  left: 0;
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2vw;
}

.toggle span {
  position: fixed;
  z-index: 9;
  top: 15vw;
  right: 4vw;
  height: 10vw;
  width: 6vw;
  color: #fff;
}

.active {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 9999;
}

/* FESTIVALS  */
.festival-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.festival-year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1vw;
}

.festival-year a {
  margin: 0;
  background: #f7e8e8;
  text-decoration: none;
  color: #000;
}

.festival-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.festival-wrapper h1 {
  font-size: 10vw;
  font-weight: 900;
}

.festival {
  padding: 5vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20vw, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  gap: 3vw;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 5vw;
  right: 5vw;
  width: 15vw;
  border: 1px solid #000;
  border-radius: 20px;
}

#myBtn a {
  text-decoration: none;
  color: #000;
}

/* DESKTOP VERSION ================================================= */
@media (min-width: 768px) {
  .link-icon {
    width: 13vw;
    padding: 1vw;
  }
  .hide-for-desktop {
    display: none;
  }
  /* MAIN PAGE */
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .navigation .nav-img {
    position: absolute;
    width: 7vw;
    left: 15vw;
    top: 2vw;
  }
  .navbar .navigation .navbar-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .navigation .navbar-logo .navbar-header {
    padding-bottom: 1vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .navigation .navbar-logo .navbar-header img {
    width: 20vw;
    height: auto;
  }
  .navbar .navigation .navbar-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 50%;
  }
  .navbar .navigation .navbar-links a {
    color: #000;
    font-size: 1.5vw;
    text-decoration: none;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  .navbar .navigation .navbar-links a:hover {
    color: #ffbe2c;
  }
  .navbar .navbar-image {
    display: none;
  }
  .navbar .desktop-haft {
    width: 80vw;
  }
  .hero {
    position: relative;
  }
  .hero .hide-for-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .hero .hide-for-mobile img {
    width: 80vw;
    height: auto;
  }
  .hero .hero-text {
    position: absolute;
    top: 20vw;
    left: 12vw;
    background: rgba(255, 255, 255, 0.774);
    width: 70vw;
    padding: 2vw;
  }
  .hero .hero-text span {
    font-size: 3vw;
    font-weight: 900;
  }
  .hero .hero-buttons {
    display: none;
    /* display: flex;
      justify-content: center;
      align-items: center;
      gap: 6vw;
      position: absolute;
      width: 30vw;
      top: 35vw;
      left: 20vw;
      a {
        text-decoration: none;
        color: #000;
        font-size: 1.5vw;
        font-weight: 600;
        background-color: #fff;
        border: none;
      } */
  }
  .news {
    padding: 2vw 10vw;
  }
  .news-img {
    padding: 2vw;
  }
  .news-img a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news-img img {
    width: 20vw;
  }
  h1 {
    font-size: 5vw;
    font-weight: 900;
  }
  .news-section {
    padding: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2vw;
  }
  .news-section-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .news-section-img img {
    max-width: 20vw;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .news-section-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news-section-text p {
    font-size: 1.5vw;
    font-weight: 200;
    text-align: left;
  }
  .news-section .btn {
    width: 10vw;
    text-decoration: none;
    color: #000;
    font-size: 1.5vw;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #000;
  }
  .news-section .btn:hover {
    background-color: #ffbe2c;
    color: #fd5353;
  }
  .gallery-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 10vw;
    gap: 5vw;
    text-align: center;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .gallery-section img:hover {
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 5vw 10vw;
  }
  #footer .footer-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .footer-logo img {
    width: 10vw;
  }
  #footer .footer-logo img:first-child {
    width: 12vw;
  }
  #footer .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #footer .footer-info h5,
  #footer .footer-info h6 {
    font-size: 2vw;
    font-weight: 900;
  }
  /* STOWARZYSZENIE PAGE */
  .sto-container {
    padding: 2vw 10vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5vw;
  }
  .sto-container p:first-child {
    background-color: #faffd0;
    padding: 1vw;
  }
  .sto-container p {
    font-size: 1.1vw;
    font-weight: 200;
  }
  .sto-container img {
    width: 25vw;
    height: auto;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  /* INFO PAGE */
  .inf-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2vw 10vw;
  }
  .inf-container img {
    width: 40vw;
    margin: 2vw 5vw;
  }
  .inf-container p {
    font-size: 1.3vw;
    font-weight: 400;
  }
  /* NEWS PAGE */
  .akt-wrapper {
    padding: 2vw 10vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3vw;
    background: #eeeeee;
  }
  .akt-wrapper .akt-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .akt-wrapper .akt-container table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #000;
  }
  .akt-wrapper .akt-container table tr th {
    background: #ffbe2c;
  }
  .akt-wrapper .akt-container p {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    text-align: justify;
    font-size: 1.3vw;
  }
  .akt-wrapper .akt-container img {
    width: 30vw;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 2vw;
  }
  .akt-wrapper date {
    position: absolute;
    color: black;
    top: 0;
    left: 0;
    font-weight: 900;
    font-size: 1.5vw;
    background-color: rgba(255, 255, 255, 0.8);
    width: auto;
    padding: 0.5vw;
  }
  .gallery {
    /* padding: 2vw 10vw;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    gap: 2vw;
    background: rgb(238, 238, 238);

    position: relative; */
  }
  .gallery img {
    -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  .gallery img:hover {
    cursor: pointer;
  }
  .toggle span {
    position: fixed;
    font-size: 3rem;
    top: 2vw;
    right: 1vw;
  }
  .toggle span:hover {
    cursor: pointer;
  }
  /* FESTIVAL PAGE */
  .festival-label {
    padding: 2vw 10vw;
  }
  .festival-wrapper .gallery {
    /* grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr)); */
  }
  .festival-wrapper .gallery h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.5vw;
    font-weight: 900;
    background: #f7e8e8;
    border: 2px solid #000;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    width: 10vw;
    border: 1px solid #000;
    border-radius: 20px;
    z-index: 10;
  }
  #myBtn a {
    text-decoration: none;
    color: #000;
    font-size: 2vw;
  }
  .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(10vw, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    gap: 2vw;
    padding: 2vw 10vw;
  }
  .full-img {
    position: absolute;
    height: 80%;
    width: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .full-img.open {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

/* GALLERY NEW */
.img-container {
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.img-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modalG {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.modalG.open {
  opacity: 1;
  pointer-events: all;
}
